.notesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 100px);
    gap: 16px;
    min-height: 100%;
    height: fit-content;
}
.yourNotesHeader {
    display: flex;
}
.actions {
    margin-left: auto;
}

.action {
    all: unset;
    transition: opacity 0.5s ease;
}
.action.opacity {
    opacity: 0.3;
} 
.action img {
    width: 40px;
    height: 40px;
}
.note {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 90%;
    transition: background-color 0.5s ease;
}
.note.selectedForDelete {
    background-color: red;
}
.noNotesText {
    color: #aaa;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.noNotesText img {
    width: 300px;
    align-self: center;
    opacity: 0.5;
}